@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 text-slate-800 antialiased overflow-x-hidden;
  }

  ::selection {
    background-color: #bae6fd;
    /* primary-200 */
    color: #0c4a6e;
    /* primary-900 */
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-indigo-600;
  }

  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
}